[Main]
OptionalPassword="$SERVER_PASSWORD"

[World]
Name="$SERVER_NAME"
OptionalWorldFilename="$OPTIONAL_WORLD_FILENAME"

[World.Create]
Type="$WORLD_TYPE"
Seed="$WORLD_SEED"

Difficulty.Preset="$DIFFICULTY_PRESET"
Difficulty.Custom.CombatDifficulty="$COMBAT_DIFFICULTY"
Difficulty.Custom.EnemyAggression="$ENEMY_AGGRESSION"
Difficulty.Custom.SurvivalDifficulty="$SURVIVAL_DIFFICULTY"
Difficulty.Custom.MiningDrops="$MINING_DROPS"
Difficulty.Custom.WorldDrops="$WORLD_DROPS"
Difficulty.Custom.HordeFrequency="$HORDE_FREQUENCY"
Difficulty.Custom.SiegeFrequency="$SIEGE_FREQUENCY"
Difficulty.Custom.PatrolFrequency="$PATROL_FREQUENCY"

[Host]
ListenAddress="$LISTEN_ADDRESS"
ListenPort="$LISTEN_PORT"
AdvertiseAddress="$ADVERTISE_ADDRESS"
AdvertisePort="$ADVERTISE_PORT"
InitialConnectionRetryTime="$INITIAL_CONNECTION_RETRY_TIME"
AfterDisconnectionRetryTime="$AFTER_DISCONNECTION_RETRY_TIME"

[Console]
Enabled="$CONSOLE_ENABLED"

[Performance]
ServerFPS="$SERVER_FPS"
LoadedAreaLimit="$LOADED_AREA_LIMIT"
